input {
    max-width: 80%;
}

.btn {
    max-height: 100%;
    font-size: 1em;
    line-height: 1;
    padding: 0.5em;
}

.uv-low {
    background-color: green;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 3px;
}

.uv-moderate {
    background-color: yellow;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 5px;
}

.uv-high {
    background-color: orange;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 3px;
}

.uv-veryhigh {
    background-color: red;
    color: white;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 3px;
}

.uv-extreme {
    background-color: purple;
    color: white;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 3px;
}

#today-weather img {
    display: inline-block;
    height: 3em;
    padding: 0 0.5em;
}

#forecast img {
    display: inline-block;
    height: 2em;
    padding: 0 0.4em;
}

.forecast-card {
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.forecast-card h3 {
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
}